<a href="https://colab.research.google.com/github/CesarSandoval714/Mineria-de-datos-CSVUEFA/blob/main/FIFA_Ranking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cesar Jaziel Sandoval Mata 
1. Adquisición de datos

In [7]:
import requests
import io
import numpy as np
from math import sqrt
import random as rd
from bs4 import BeautifulSoup
import pandas as pd
from tabulate import tabulate
from typing import Tuple, List
from scipy import stats
import re
from datetime import datetime
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn.cluster import KMeans



def get_soup(url: str) -> BeautifulSoup:
    response = requests.get(url)
    return BeautifulSoup(response.content, 'html.parser')

def get_csv_from_url(url:str) -> pd.DataFrame:
    s=requests.get(url).content
    return pd.read_csv(io.StringIO(s.decode('utf-8')))

def print_tabulate(df: pd.DataFrame):
    print(tabulate(df, headers=df.columns, tablefmt='orgtbl'))


df = get_csv_from_url("https://raw.githubusercontent.com/CesarSandoval714/Mineria-de-datos-CSVUEFA/main/FIFA%20PLAYERS%20RATINGS.csv")
df.head(500)

,id,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
0,158023,L. Messi,Lionel Andrés Messi Cuccittini,24/06/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,...,64+2,61+2,61+2,61+2,64+2,59+2,48+2,48+2,48+2,59+2
1,190460,C. Eriksen,Christian Dannemann Eriksen,14/02/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,...,71+3,71+3,71+3,71+3,71+3,66+3,57+3,57+3,57+3,66+3
2,195864,P. Pogba,Paul Pogba,15/03/1993,25,190.50,83.9,"CM,CAM",France,88,...,76+3,77+3,77+3,77+3,76+3,74+3,72+3,72+3,72+3,74+3
3,198219,L. Insigne,Lorenzo Insigne,04/06/1991,27,162.56,59.0,"LW,ST",Italy,88,...,63+3,58+3,58+3,58+3,63+3,58+3,44+3,44+3,44+3,58+3
4,201024,K. Koulibaly,Kalidou Koulibaly,20/06/1991,27,187.96,88.9,CB,Senegal,88,...,73+3,77+3,77+3,77+3,73+3,76+3,85+3,85+3,85+3,76+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,201818,A. Musa,Ahmed Musa,14/10/1992,26,170.18,62.1,"LM,ST",Nigeria,75,...,57+2,49+2,49+2,49+2,57+2,54+2,41+2,41+2,41+2,54+2
496,206424,M. Morozyuk,Mykola Morozyuk,17/01/1988,31,175.26,71.2,"RB,RM,LB,LM",Ukraine,75,...,75+2,70+2,70+2,70+2,75+2,73+2,63+2,63+2,63+2,73+2
497,192087,G. Schennikov,Georgiy Schennikov,27/04/1991,27,154.94,74.8,"LWB,LM",Russia,75,...,74+2,72+2,72+2,72+2,74+2,74+2,71+2,71+2,71+2,74+2
498,210007,André Ramalho,André Ramalho Silva,16/02/1992,27,182.88,78.0,"CB,CDM",Brazil,75,...,67+2,72+2,72+2,72+2,67+2,68+2,73+2,73+2,73+2,68+2
499,208509,T. Foket,Thomas Foket,25/09/1994,24,152.40,73.9,RB,Belgium,75,...,74+2,72+2,72+2,72+2,74+2,73+2,70+2,70+2,70+2,73+2

2. Limpieza de datos

In [8]:
df.shape

(17954, 92)

In [9]:
df.isna().sum()

id               0
name             0
full_name        0
birth_date       0
age              0
              ...
LB            2065
LCB           2065
CB            2065
RCB           2065
RB            2065
Length: 92, dtype: int64

In [10]:
df = df.dropna()

In [11]:
df.shape

(156, 92)